<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieMaster | Filmrecherche</title>
    <link rel="shortcut icon" href="{{ url_for('static',filename='images/movieMasterLogo.ico') }}">
    <link href="static/styles/dashboard.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static',filename='fontawesome/css/all.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="headerLeftCo">
            <img class="headerImg" src="/static/images/movieMasterLogo.png" onclick="location.href='home'">
            <div class="headerTextCo">
                <nav>Home</nav>
                <nav>Filme</nav>
            </div>
        </div>
        <div class="headerRightCo">
            <div class="serachBarCo">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input class="searchBar" placeholder="Suche nach Inhalten..."></i></input>
            </div>
        </div>
    </header>
    <section class="categorie categorie1">
        <div class="headline">Kategorie 1</div>
        <div class="movieContentCo">
            <div class="movieCo">
                <div class="movie">
                    <div class="moviePoster">
                        <img class="moviePlaceholderImg" src="/static/images/moviePosterIcon.png">
                    </div>
                </div>
                <div class="moviewTitle">Film 1</div>
            </div>
            <div class="movieCo">
                <div class="movie">
                    <div class="moviePoster">
                        <img class="moviePlaceholderImg" src="/static/images/moviePosterIcon.png">
                    </div>
                </div>
                <div class="moviewTitle">Film 2</div>
            </div>
        </div>
    </section>
</body>

</html>